@model List<blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <small class="author pull-right">  
                            @article.Author.FullName
                        </small>
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @blog.Classes.Utils.CutText(article.Content, 250)
                    </p>
                    <footer >
                        <div style="border: 2px ; color: #ffffff; padding: 5px; border-radius: 10px; background: #3f95fe" class="pull-right">
                            @article.Likes Like it!
                        </div><br />  
                        <div class="pull-left">
                            @foreach (var tag in article.Tags)
                            {
                                <span>
                                    @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                                </span>
                            }
                        </div>              
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<hr />
